<p id="notice"><%= notice %></p>

<h1>Localisations</h1>

<table>
  <thead>
    <tr>
      <th>Integer</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Integer</th>
      <th></th>
      <th>Integer</th>
      <th></th>
      <th>Integer</th>
      <th></th>
      <th>String</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localisations.each do |localisation| %>
      <tr>
        <td><%= localisation.integer %></td>
        <td><%= localisation. %></td>
        <td><%= localisation. %></td>
        <td><%= localisation. %></td>
        <td><%= localisation.integer %></td>
        <td><%= localisation. %></td>
        <td><%= localisation.integer %></td>
        <td><%= localisation. %></td>
        <td><%= localisation.integer %></td>
        <td><%= localisation. %></td>
        <td><%= localisation.string %></td>
        <td><%= localisation. %></td>
        <td><%= link_to 'Show', localisation %></td>
        <td><%= link_to 'Edit', edit_localisation_path(localisation) %></td>
        <td><%= link_to 'Destroy', localisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localisation', new_localisation_path %>
