<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @localisation.integer %>
</p>

<p>
  <strong>:</strong>
  <%= @localisation. %>
</p>

<p>
  <strong>:</strong>
  <%= @localisation. %>
</p>

<p>
  <strong>:</strong>
  <%= @localisation. %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @localisation.integer %>
</p>

<p>
  <strong>:</strong>
  <%= @localisation. %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @localisation.integer %>
</p>

<p>
  <strong>:</strong>
  <%= @localisation. %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @localisation.integer %>
</p>

<p>
  <strong>:</strong>
  <%= @localisation. %>
</p>

<p>
  <strong>String:</strong>
  <%= @localisation.string %>
</p>

<p>
  <strong>:</strong>
  <%= @localisation. %>
</p>

<%= link_to 'Edit', edit_localisation_path(@localisation) %> |
<%= link_to 'Back', localisations_path %>
